/**
 * Tailwind
 */
@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";

/**
 * Base
 */
@import "base/preflight.pcss";

/**
 * Components
 */
@import "components/craft.pcss";
